*{margin: 0;
padding: 0;}

header{
    background-color: rgb(25, 0, 114);
    color: rgb(255, 246, 246);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    
}

.cabecalho-lista-item{
    display: inline-block;
margin:0 20px;
padding: 10px 0;
font-size:24px;
}
.imagem-escola{
    width: 25%;
}
.escola{
    background-image: linear-gradient(rgb(82, 85, 255), rgb(79, 180, 247));
 color: aliceblue;
    display: flex;
    justify-content: center;
}

.texto-escola{font-size:19px;}

.escola-conteudo{
    width: 50%;
    align-items: center;
    padding: 24px 0;
}

.titulo-escola{
padding: 20px;
}

.imagem-escola{margin: 40px}

.estudante{
    background-image: linear-gradient(rgb(70, 172, 255), rgb(100, 206, 255));
color:rgb(255, 255, 255) ;    
}