*{margin: 0;
padding: 0;}

header{
    background-color: rgb(37, 131, 240);
    color: rgb(255, 246, 246);
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
    
}

.cabecalho-lista-item{
    display: inline-block;
margin:0 20px;
padding: 10px 0;
font-size:24px;
}
.imagem-escola{
    width: 25%;
}
.escola{
    background-image: linear-gradient(rgb(54, 156, 240), rgb(0, 153, 255));
 color: aliceblue;
    display: flex;
    justify-content: center;
}

.texto-escola{font-size:19px;}

.escola-conteudo{
    width: 50%;
    align-items: center;
    padding: 24px 0;
}

.titulo-escola{
padding: 20px;
}